<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Shariss\Recipes\Api\RecipeRepositoryInterface"
                type="Shariss\Recipes\Model\RecipeRepository" />
    <preference for="Shariss\Recipes\Api\Data\RecipeInterface"
                type="Shariss\Recipes\Model\Recipe" />
    <preference for="Shariss\Recipes\Api\Data\RecipeSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults"/>

</config>